{% extends 'base.html' %}

  {% block content %}

    <div class="container">

      <div class="page-header">
        <h1>CREATE NEW TASK</h1>
      </div>

      <form action="{% url 'tasks' %}" method="POST" style="height: inherit;">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" name="submit" value="OK" class="btn btn-lg"></input>
      
      </form>

  </div>

{% endblock %}