{% extends 'base.html' %}

  {% block content %}

    <div class="container">
  
      <div class="page-header">
        <h1>CREATE NEW TRASH</h1>
      </div>  

      <form action="{% url 'trashes' %}" method="POST" class="post-form">
        {{ form.as_p }}
        {% csrf_token %}
        <input name="submit" value="OK" type="submit" class="save btn btn-default"></input>
      </form>

    </div>

  {% endblock %}