{% extends 'base.html' %}

  {% block content %}

    <div class="container" align="center">

        <td><img src="../../static/img/image.jpg" height="70%" width="100%" alt="Фотография"></td>
        <br>
        <p><a class="btn btn-lg" href="{% url 'home' %}" role="button">Home &raquo;</a></p>
       

  </div>

{% endblock %}
