{% extends 'base.html' %}

{% block content %}
  <div class="container">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hey, mate!</h1>
        <p>This is the web interface of the utility 'myrm', which supports the:
        <ul><font size="4">
          <li> -View known trashes (list, separate trash in detail);</li>
          <li> -Creation, change modifications, display status and delete trashes;</li>
          <li> -View list of tasks;</li>
          <li> -Creation, change modifications and display the status of tasks.</li>
          </font>
        </ul>
        </p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'description' %}" role="button">Useless button, dont push &raquo;</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Trashes</h2>
        <p>Trash is the directory where your files will be moved (in accordance with task). </p>
        <p>This directory, which will be used as a LINUX Trash and contains 2 folders: 'files' and 'info'.
           In the first folder are removal of files or directories with names of file's inode, in the second - files 
           with such names with info about removal objects.</p>
        <p>Characteristics of the basket:
            <ul>
              <li>Basket name</li>
              <li>Directory path</li>
              <li>Politics for working with files</li>
            </ul>
        </p>
        <p><a class="btn btn-secondary" href="{% url 'create_trash' %}" role="button">Create trash &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Tasks</h2>
        <p>The task for the Trash is the description of the parameters and the actual execution of the deletion of files in a particular recycle bin. </p>
        <p>Characterized by the specified files and folders to delete (as well as restore from the Trash), as well as a set of parameters that must override the
           default settings for the selected Trash for a particular start.
          <p>Available parametres:
            <ul>
              <li>Turn on remove of empty directories</li>
              <li>Turn on remove of not empty directories</li>
            </ul>
          </p>
        </p>
        <p><a class="btn btn-secondary" href="{% url 'tasks' %}" role="button">View known tasks &raquo;</a></p>
      </div>
    </div>
  </div>
{% endblock %}
