{% extends 'base.html' %}

    {% block content %}
      
      <div class="container">
        <div class="page-header">
             <h1>TASKS</h1>
        </div>

        <table class="table table-striped table-hover">

          <thead>
            <tr>
              <td>TASK NAME</td>
              <td>ACTION</td>
              <td>PATH</td>
              <td>TRASH NAME</td>
            </tr>
          </thead>
          <tbody>

            {% for task in tasks %}

              <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.action }}</td>
                <td>{{ task.path }}</td>
                <td>{{ task.trashbin }}</td>
              </tr>

            {% endfor %}
          </tbody>
        </table><br/>

        <div class="col-md-4">
          <a href="{% url 'create_task' %}" ><span class="glyphicon glyphicon-plus"></span></a>
        </div>

      </div>
      <br/><br/>

{% endblock %}