{% extends 'base.html' %}

  {% block content %}

    <div class="container">

      <div class="page-header">
         <h1>TRASHES</h1>
      </div>
         
      <table class="table table-striped table-hover">

        <thead>
          <tr>
          <td>NAME</td>
          <td>DESTINATION</td>
          <td>POLITICS</td>
          <td></td>
          </tr>
        </thead>

        <tbody>
          {% for trash in trashes_ %}

            <tr>
              <td><a href="/app/trashes/tasks/{{ trash.id }}">{{ trash.name }}</a></td>
              <td>{{ trash.destination }}</td>
              
              <td>Max size: {{ trash.max_file_size }}<br/>Max time: {{ trash.max_file_time }}</td>
              
              <td>
                <a href="{% url 'trash_delete' id=trash.id %}"><span class="glyphicon glyphicon-trash"></a>
                <a href="{% url 'trash_info' id=trash.id %}""><span class="glyphicon glyphicon-pencil"></a>
              </td>
            </tr>

          {% endfor %}
        </tbody>

      </table><br/>

      <a href="{% url 'create_trash' %}" ><span class="glyphicon glyphicon-plus"></span></a>

    </div>
    <br/><br/>

  {% endblock %}