{% extends 'base.html' %}

  {% block content %}
    
    <div class="container">
         
      <div class="page-header">
        <h1>CHANGE TRASH</h1>
      </div>  

      <form action="/app/trashes/update/{{ id }}" method="POST" class="post-form">
        {{ form.as_p }}
        {% csrf_token %}
        <input name="submit" value="OK" type="submit" class="save btn btn-default"></input>
        
        <a class="btn btn-default" href="/app/trashes/delete/{{ id }}"><span class="glyphicon glyphicon-trash"></span></a>
      
      </form>

    </div>

  {% endblock %}
